header {
	background-position: center center;
	background-repeat: no repeat;
	background-size: cover;
	z-index: 2;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
}
.secondarycontainer {
	padding: 5em;
}
.introicons {
	flex-direction: row;
	justify-content: center;
}
.iconintro {
	width: 2.75em;
	height: 2.75em;
}
.item {
	font-family: 'Ubuntu Mono', monospace;
	font-weight: bold;
	margin: 0;
	padding: 0;
	color: white;
}
.mainheading {
	font-size: 2.25rem;
}
.maindescrp {
	font-size: 1.25rem;
}
.scrolldownbutton {
	position: absolute;
	bottom: 1vh;
	width: 2vw;
	font-size: 2.25rem;
	color: white;
	transition: transform 200ms ease;
	z-index: 2;
}
.scrolldownbutton:hover {
	transform: translateY(3px);
	color: var(--text-accent);
}
