:root {
	font-size: 16px;
	font-family: sans-serif;
	--text-primary: #ffffff;
	--text-secondary: #e5e5e5;
	--text-accent: #fca311;
	--bg-primary: #000;
	--bg-secondary: #14213d;
	--transition-speed: 600ms;
}
html {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body {
	color: black;
	background-color: white;
	margin: 0;
	padding: 0;
	width: 100%;
}
main {
	margin-left: 5rem;
	padding: 1rem;
}
* {
	transition: var(--transition-speed);
}

.navbar {
	width: 5rem;
	position: fixed;
	background-color: var(--bg-primary);
	transition: width 600ms ease, opacity 500ms ease;
	opacity: 0;
	font-family: 'Ubuntu Mono', monospace;
	z-index: 1;
}
.navbar:hover {
	width: 10rem;
	box-shadow: 22px 1px 21px -4px rgba(43, 43, 43, 0.34);
	-webkit-box-shadow: 22px 1px 21px -4px rgba(43, 43, 43, 0.34);
	-moz-box-shadow: 22px 1px 21px -4px rgba(43, 43, 43, 0.34);
}
.logo {
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--text-primary);
	width: 100%;
	transition: var(--transition-speed);
}

.navbar-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.nav-item {
	width: 100%;
}
.nav-item:last-child {
	margin-top: auto;
}
.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
	color: var(--text-primary);
	transition: var(--transition-speed);
}
.nav-link:hover svg {
	color: var(--text-accent);
}
.nav-link:hover {
	background-color: var(--bg-secondary);
}
.nav-link:hover span {
	color: var(--text-accent);
}
.logo-link {
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
	color: var(--text-primary);
	transition: var(--transition-speed);
}
.logo-link:hover svg {
	color: var(--text-accent);
}
.logo-link svg {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
	transition: color 200ms ease;
}
.link-text {
	display: none;
	margin-left: 1rem;
	font-size: 20px;
}

.nav-link svg {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
	transition: color 200ms ease;
}
/* navbar Hover functions */

.logo svg {
	transform: rotate(0deg);
	transition: transform var(--transition-speed);
}
.navbar:hover .logo svg {
	transform: rotate(-180deg);
	color: var(--text-accent);
}
.logotext {
	font-size: 1.25rem;
}
.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 6vw;
	font-family: 'Ubuntu Mono', monospace;
	padding: 0;
}
.intro {
	font-weight: bold;
	text-align: center;
}
.header {
	font-size: 2rem;
	margin: 50px 0 0 0;
}
.lead {
	font-size: 1.75rem;
}
#themeButton:hover {
	cursor: pointer;
}
.Backtotopbutton {
	font-size: 2.25rem;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0 20px 10px 0;
}
.Backtotopbutton a i {
	color: var(--text-accent);
	transition: opacity 600ms ease, transform 200ms ease;
}
.Backtotopbutton:hover a i {
	color: var(--text-accent);
	transform: translateY(-3px);
}
/* small screens */
@media only screen and (max-width: 600px) {
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 5rem;
	}
	.navbar:hover {
		box-shadow: none;
		width: 100vw;
	}

	.logo {
		display: none;
	}
	.navbar-nav {
		flex-direction: row;
	}
	.nav-link {
		justify-content: center;
	}
	main {
		margin: 0;
	}
	.nav-item:last-child {
		display: none;
	}
	.Backtotopbutton {
		margin: 0 20px 90px 0;
	}
	.Backtotopbutton a i {
		color: var(--text-accent);
	}
}
/* large screens */
@media only screen and (min-width: 600px) {
	.navbar {
		top: 0;
		width: 5rem;
		height: 100vh;
	}
	.navbar:hover {
		width: 16rem;
	}
	.navbar:hover .link-text {
		display: inline;
	}
	.nav-item:last-child {
		display: initial;
	}
}

.dark {
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
}

.light {
	--text-primary: #1f1f1f;
	--text-secondary: #000000;
	--bg-primary: #ffffff;
	--bg-secondary: #e4e4e4;
}

.solar {
	--text-primary: #576e75;
	--text-secondary: #35535c;
	--bg-primary: #fdf6e3;
	--bg-secondary: #f5e5b8;
}

.theme-icon {
	display: none;
}

.dark #darkIcon {
	display: block;
}

.light #lightIcon {
	display: block;
}

.solar #solarIcon {
	display: block;
}
