:root {
	font-size: 16px;
	font-family: sans-serif;
	--text-primary: #ffffff;
	--text-secondary: #e5e5e5;
	--text-accent: #fca311;
	--bg-primary: #000;
	--bg-secondary: #14213d;
	--transition-speed: 600ms;
}
html {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
body {
	color: black;
	background-color: white;
	margin: 0;
	padding: 0;
	width: 100%;
}
main {
	margin-left: 5rem;
	padding: 1rem;
}
* {
	transition: var(--transition-speed);
}

.navbar {
	width: 5rem;
	position: fixed;
	background-color: var(--bg-primary);
	transition: width 600ms ease, opacity 500ms ease;
	opacity: 0;
	font-family: 'Ubuntu Mono', monospace;
	z-index: 1;
}
.navbar:hover {
	width: 10rem;
}
.logo {
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--text-primary);
	width: 100%;
	transition: var(--transition-speed);
}

.navbar-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.nav-item {
	width: 100%;
}
.nav-item:last-child {
	margin-top: auto;
}
.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
	color: var(--text-primary);
	transition: var(--transition-speed);
}
.nav-link:hover svg {
	color: var(--text-accent);
}
.nav-link:hover {
	background-color: var(--bg-secondary);
}
.nav-link:hover span {
	color: var(--text-accent);
}
.logo-link {
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
	color: var(--text-primary);
	transition: var(--transition-speed);
}
.logo-link:hover svg {
	color: var(--text-accent);
}
.logo-link svg {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
	transition: color 200ms ease;
}
.link-text {
	display: none;
	margin-left: 1rem;
	font-size: 20px;
}

.nav-link svg {
	width: 2rem;
	min-width: 2rem;
	margin: 0 1.5rem;
	transition: color 200ms ease;
}
/* navbar Hover functions */

.logo svg {
	transform: rotate(0deg);
	transition: transform var(--transition-speed);
}
.navbar:hover .logo svg {
	transform: rotate(-180deg);
	color: var(--text-accent);
}
.logotext {
	font-size: 1.25rem;
}
.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 6vw;
	font-family: 'Ubuntu Mono', monospace;
	padding: 0;
}
.intro {
	font-weight: bold;
	text-align: center;
}
.header {
	font-size: 2rem;
	margin: 50px 0 0 0;
}
.lead {
	font-size: 1.75rem;
}
#themeButton:hover {
	cursor: pointer;
}
.Backtotopbutton {
	font-size: 2.25rem;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0 20px 10px 0;
}
.Backtotopbutton a i {
	color: var(--text-accent);
	transition: opacity 600ms ease, transform 200ms ease;
}
.Backtotopbutton:hover a i {
	color: var(--text-accent);
	transform: translateY(-3px);
}
/* small screens */
@media only screen and (max-width: 600px) {
	.navbar {
		bottom: 0;
		width: 100vw;
		height: 5rem;
	}
	.navbar:hover {
		width: 100vw;
		height: 5rem;
	}

	.logo {
		display: none;
	}
	.navbar-nav {
		flex-direction: row;
	}
	.nav-link {
		justify-content: center;
	}
	main {
		margin: 0;
	}
	.nav-item:last-child {
		display: none;
	}
	.Backtotopbutton {
		margin: 0 20px 90px 0;
	}
	.Backtotopbutton a i {
		color: var(--text-accent);
	}
}
/* large screens */
@media only screen and (min-width: 600px) {
	.navbar {
		top: 0;
		width: 5rem;
		height: 100vh;
	}
	.navbar:hover {
		width: 16rem;
	}
	.navbar:hover .link-text {
		display: inline;
	}
	.nav-item:last-child {
		display: initial;
	}
}

.dark {
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
}

.light {
	--text-primary: #1f1f1f;
	--text-secondary: #000000;
	--bg-primary: #ffffff;
	--bg-secondary: #e4e4e4;
}

.solar {
	--text-primary: #576e75;
	--text-secondary: #35535c;
	--bg-primary: #fdf6e3;
	--bg-secondary: #f5e5b8;
}

.theme-icon {
	display: none;
}

.dark #darkIcon {
	display: block;
}

.light #lightIcon {
	display: block;
}

.solar #solarIcon {
	display: block;
}
@keyframes updown {
	0% {
		top: 110%;
	}

	50% {
		top: 0;
	}

	100% {
		top: 110%;
	}
}

@keyframes leftright {
	0% {
		left: 0;
	}

	50% {
		left: 80%;
	}

	100% {
		left: 0;
	}
}

@keyframes vastag {
	0% {
		width: 8vh;
	}

	50% {
		width: 32vh;
	}

	100% {
		width: 8vh;
	}
}

@keyframes forog {
	100% {
		transform: rotate(360deg);
	}
}


#lampwrapper{
	background-color: black;
	padding:10px 0;
}



#lamp {
	width: 40vh;
	height: 100vh;
	margin: 0 auto;
}

#top,
#bottom {
	background: #888;
	background: linear-gradient(111deg, #111 0%, #ccc 45%, #ccc 50%, #888 60%, #111);
}

#top {
	height: 7vh;
	width: 36vh;
	position: relative;
	top: .5vh;
	left: 2vh;
	border-radius: 12vh 12vh 1vh 1vh/66% 66% 2vh 2vh;
	box-shadow:
		0 4vh 16vh 16vh rgba(0, 0, 0, .5),
		0 1vh 4vh 4vh rgba(0, 0, 0, .3),
		inset 0 .5vh .5vh rgba(255, 255, 255, .5),
		inset 0 -.3vh .5vh rgba(128, 0, 0, .5);
	z-index: 2;
}

#top::after {
	content: ' ';
	display: block;
	position: absolute;
	background: #fff;
	width: 30vh;
	height: 3vh;
	margin-left: -15vh;
	left: 50%;
	bottom: 4vh;
	z-index: 2;
	border-radius: 48%;
	filter: blur(2vh);
}

#bottom {
	height: 3vh;
	border-radius: 1vh;
	box-shadow:
		inset 0 -.5vh .5vh rgba(0, 0, 0, .5),
		inset 0 .5vh .5vh rgba(128, 0, 0, .5);
}

#bottom::after {
	content: ' ';
	display: block;
	position: absolute;
	background: yellow;
	width: 30vh;
	height: 4vh;
	margin-left: -15vh;
	left: 50%;
	bottom: 5vh;
	z-index: 2;
	border-radius: 48%;
	filter: blur(3vh);
}

#glass {
	overflow: hidden;
	width: 100%;
	height: 90vh;
	position: relative;
	top: -4vh;
	transform: perspective(100vh) rotateX(12deg);
	filter: contrast(22);
	background: linear-gradient(blue 30%, #60a 80%, #a06 100%);
	box-shadow: inset 0 -5vh 1vh 1vh rgba(255, 0, 0, .6), 0 0 2.5px .2px #808;
	border-radius: 1vh 1vh 5vh 5vh/20%;
}

.bubble {
	height: 16vh;
	border-radius: 40%;
	background: red;
	position: absolute;
	filter: blur(4vh);
	animation: updown linear 37s infinite,
		leftright ease-in-out 23s infinite,
		vastag linear 29s infinite,
		forog linear 31s infinite;
}

.bubble:nth-child(2) {
	animation: updown ease-in 41s infinite,
		leftright ease-in-out 47s infinite,
		vastag linear 23s infinite,
		forog linear 29s infinite;
}

.bubble:nth-child(3) {
	animation: updown ease-out 43s infinite,
		leftright ease-in-out 53s infinite,
		vastag linear 29s infinite,
		forog linear 31s infinite;
}

.bubble:nth-child(4) {
	animation: updown ease-in-out 47s infinite,
		leftright ease-in-out 59s infinite,
		vastag linear 31s infinite,
		forog linear 41s infinite;
}

.bubble:nth-child(5) {
	animation: updown ease-in-out 29s infinite,
		leftright ease-in-out 31s infinite,
		vastag linear 37s infinite,
		forog linear 47s infinite;
}

.bubble:last-child {
	animation: updown linear 53s infinite,
		leftright ease-in-out 29s infinite,
		vastag linear 19s infinite,
		forog linear 37s infinite;
}
.section1{
	position: absolute;
	z-index: 999;
	top:-30px;
}
